body {
    margin: 0px 0px;
    padding: 0px 0px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(17, 40, 58);
}

h1 {
    font-size: 3em;
    margin: 0px 0px;
}

header {
    text-align: center;
    width: 100%;
    margin: 3%
}

h2 {
    text-align: center;
    width: 100%;
    font-size: 2.1em;
    margin: 30px 0px
}

#result {
    position: relative;
    width: 40%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 77, 109);
    border-radius: 10px;
}

p {
    text-align: center;
    font-size: 1.6em;
    width: 45%;
}

#description {
    width: 100%;
    margin: 5px 0px;
}

img {
    display: block;
    width: 60%;
    height: auto;
    margin: 0px auto;
}

button {
    display: block;
    margin: 0px auto;
    font-size: 1.3em;
    border-radius: 8px;
    box-shadow: 0px 0px 0px black;
    background-color: white;
    border: 0px black solid;
    padding: 3px;
}

#divBouton {
    width: 60%;
    margin: 20px 0px;
}